body
{
  margin: 0;
}

.landing {
  /* height: 100%;
  width: 100%; */
  padding-top: 210px;
  padding-bottom: 220px;
  background-color: blueviolet;
  background-image: url("./assets/Beach.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.landing > h1
{
  margin: 30px;
  color: white;
}
.outer_container
{
  margin: 0px 30px;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}